<!DOCTYPE html>
<html lang="PT-BR" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link th:href="@{/stylePopulacao.css}" rel="stylesheet"/>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <link rel="stylesheet" href="@{/stylePopulacao.css}">

  <title>Dados</title>
</head>
<body>
<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="index.html">Curriculo Erick</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse itens-nav" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="ingles.html">Inglês <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javas.html">Java</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="boot.html">bootstrap</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="cun.html">c#</a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<main>
  <H1 class="titulo">DADOS</H1>

  <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
    <!-- one of the properties available; the maximum file size in bytes -->
    <property name="maxUploadSize" value="1000000" />
  </bean>

  <form action="/populacao/dados" method="post" enctype="multipart/form-data">
    <label for="file">Arquivo</label>
    <input type="file" name="file" />
    <input type="submit" name="submit" value="Upload" />
  </form>

  </div>
  <hr class="featurette-divider">
  <div></div>
  </div>

</main>

<footer class="dados">
  <h4 class="footer-texto">Caso interessado em me contactar:</h4>
  <div class="contatos">
    <i class="bi bi-whatsapp" style="color: white;"></i>
    <h6 class="footer-texto">Telefone: (13) 98836-8662</h6>
  </div>
  <div class="contatos">
    <i class="bi bi-house" style="color: white;"></i>
    <h6 class="footer-texto">Endereço: Rua origenes Lessa (57) Vila Romão</h6>
  </div>
</footer>

</body>
</html>